<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<header>
		<h1><a id="logo" href="/">Tiffsite</a></h1>
		<nav>
			<ul>
				<li><a href="/">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="https://www.etsy.com/shop/GemStateCo" target="_blank">shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container">
		<ul class="posts">
			{% for post in site.posts %}
			<li>
				<div class="date">{{ post.date | date_to_string }}</div> 
				<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
			</li>
			{% endfor %}
		</ul>
	</div><!-- /.container -->
	{% include footer.html %}
</body>
</html>
